* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1-container{
padding: 4px;
border: 1px solid red;
}

.form-container {
    padding: 10px;
    background-color: blue;
    border: 1px solid red;
}

.search-label {
    font-size: 20px;
    font-weight: 600;
    border: 1px solid red;
}

.search-input {
    width: 100%;
    height: 40px;
    border-color: lightblue;
    border-width: thin;
    padding: 0 15px;
}

.search-button {
    padding: 10px 15px;
    border: 1px solid red;
}

.search-history-container {
    background-color: blueviolet;
   padding: 10px;
    border: 1px solid red;
}

.past-search {
    background-color: #f0efeeb4;
    border-width: thin;
    border-color: lightgrey;
    border-style: solid;
    border-radius: 3px;
    margin: 0;
    text-align: left;
    width: 350px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
    color: grey;
    border: 1px solid red;
}
.current-weather-container {
    border-color: lightgrey;
    border-width: thin 0 thin thin;
    border-style: solid;
    border-radius: 3px;
    margin: 20px 0 0 20px;
    padding: 0 0 12px 0;
    border: 1px solid red;
}
.current-title-container {
display: flex;
}
.current-title {
    font-size: 40px;
    margin: 15px 0 20px 20px;
}
.current-weather-icon {
    width: 80px;
    height: 80px;
}

.submit {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid red;
}

@media only screen and (max-width: 599px) {
    .column {
        margin: 2px;
        padding: 0 20px 0 20px;
    }
    .cardConetent {
        padding: 20px;
        border: 1px solid red;
    }
}